#root {
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* colors from github contribution graph */

  --cell-color-L0-bg: #ebedf0;
  --cell-color-L1-bg: #9be9a8;
  --cell-color-L2-bg: #40c463;
  --cell-color-L3-bg: #30a14e;
  --cell-color-L4-bg: #216e39;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
  height: 100%;
  width: 100%;
  display: flex;
}

h1 {
  font-size: 22px;
  margin-bottom: 50px;
}

h2 {
  font-size: 16px;
  font-weight: 300;
}

#container {
  height: 514px;
  width: 930px;
  margin: 50px auto;
}

.timeline-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cont-setting {
  font-size: 11px;
}

.timeline {
  border: 1px solid #d9d9d9;
  padding: 18px 30px 15px 15px;
  border-radius: 3px;
  background-color: #fff;
}

/* MONTHS ROW */
.timeline-months {
  display: flex;
  padding-left: 30px;
}

.month {
  font-size: 11px;
  width: 10px;
  margin: 2px;
  border: 1px solid transparent;
}

/* TO HIDE the 3 (out of 4) REPEATS in timeline-months  */
.timeline-months .Jan ~ .Jan,
.timeline-months .Feb ~ .Feb,
.timeline-months .Mar ~ .Mar,
.timeline-months .Apr ~ .Apr,
.timeline-months .May ~ .May,
.timeline-months .Jun ~ .Jun,
.timeline-months .Jul ~ .Jul,
.timeline-months .Aug ~ .Aug,
.timeline-months .Sep ~ .Sep,
.timeline-months .Oct ~ .Oct,
.timeline-months .Nov ~ .Nov,
.timeline-months .Dec ~ .Dec {
  visibility: hidden;
}

/* TIMELINE BOTTOM SECTION: WEEKDAYS + CELLS */
.timeline-days-cells {
  display: flex;
}

/* WEEKDAYS SECTION */
.weekdays {
  display: inline-flex;
  flex-direction: column;
  width: 30px;
}

/* weekday {
  font-size: 10px;
  height: 10px;
  border: 1px solid transparent;
  margin: 2px; 
} */

.weekday {
  font-size: 11px;
  /* same as cell: */
  height: 10px;
  border: 1px solid transparent;
  margin: 2px;
}

/* DAYS, CELLS SECTION */

.cells {
  /* display: inline-flex; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 112px;
  margin-top: 1px;
}
/* .cell {
  height: 10px;
  width: 10px;
  border: 1px solid var(--cell-color-border);
  margin: 2px;
  border-radius: 2px;
} */

.cell {
  height: 10px;
  width: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 2px;
  border-radius: 2px;
}

.cell:hover {
  border: 1px solid red;
}

.timeline-footer {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
  font-size: 11px;
  color: rgb(85, 96, 96);
}

.legend {
  display: flex;
  align-items: baseline;
  gap: 1px;
}

.timeline-footer .cell {
  height: 9px;
  width: 9px;
  border-radius: 3px;
}
