:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* colors from github contribution graph */
  --cell-color-border: #1b1f230f;
  --cell-color-L0-bg: #ebedf0;
  --cell-color-L1-bg: #9be9a8;
  --cell-color-L2-bg: #40c463;
  --cell-color-L3-bg: #30a14e;
  --cell-color-L4-bg: #216e39;
}
